In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [78]:
dataset_test= pd.read_csv('test.csv')
dataset_train= pd.read_csv('train.csv')

In [79]:
dataset_test.head(8)

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0
5,8,y,aa,ai,e,d,x,g,s,0,...,1,0,0,0,0,0,0,0,0,0
6,10,x,b,ae,d,d,x,d,y,0,...,0,0,0,0,0,1,0,0,0,0
7,11,f,s,ae,c,d,h,d,a,0,...,0,0,1,0,0,0,0,0,0,0

In [80]:
dataset_train.head(8)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
5,18,92.93,t,b,e,c,d,g,h,s,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
7,25,91.91,o,l,as,f,d,f,j,a,...,0,0,0,0,0,0,0,0,0,0

In [81]:
dataset_train.shape

(4209, 378)

In [82]:
dataset_test.shape

(4209, 377)

In [83]:
for i in dataset_train.columns:
    data_type = dataset_train[i].dtype
    if data_type == 'object':
        print(i)

X0
X1
X2
X3
X4
X5
X6
X8

### 1.If for any column(s), the variance is equal to zero, then you need to remove those variable(s).

In [84]:
variance=pow(dataset_train.drop(columns={'ID', 'y'}).std(),2).to_dict() 
null_count = 0 
for key, value in variance.items():
    if(value==0):
        print('Name=',key)
        null_count=null_count+1 
print('Number of columns which has zero variance=',null_count)

Name= X11
Name= X93
Name= X107
Name= X233
Name= X235
Name= X268
Name= X289
Name= X290
Name= X293
Name= X297
Name= X330
Name= X347
Number of columns which has zero variance= 12

In [85]:
dataset_train=dataset_train.drop(columns={'X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X28', 'X290', 'X293' ,'X297','X330','X347'})

In [86]:
dataset_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [87]:
dataset_train.shape

(4209, 366)

### 2.Check for null and unique values for test and train sets.

In [88]:
dataset_train.isnull().sum().any()

False

In [90]:
dataset_train.nunique()

ID      4209
y       2545
X0        47
X1        27
X2        44
        ...
X380       2
X382       2
X383       2
X384       2
X385       2
Length: 366, dtype: int64

In [91]:
dataset_test.isnull().sum().any()

False

In [92]:
dataset_test.nunique()

ID      4209
X0        49
X1        27
X2        45
X3         7
        ...
X380       2
X382       2
X383       2
X384       2
X385       2
Length: 377, dtype: int64

In [93]:
#Filterout the column having object datatype
# For train dataset

In [94]:
object_datatype= dataset_train.select_dtypes(include=[object])

In [95]:
object_datatype

      X0 X1  X2 X3 X4  X5 X6 X8
0      k  v  at  a  d   u  j  o
1      k  t  av  e  d   y  l  o
2     az  w   n  c  d   x  j  x
3     az  t   n  f  d   x  l  e
4     az  v   n  f  d   h  d  n
...   .. ..  .. .. ..  .. .. ..
4204  ak  s  as  c  d  aa  d  q
4205   j  o   t  d  d  aa  h  h
4206  ak  v   r  a  d  aa  g  e
4207  al  r   e  f  d  aa  l  u
4208   z  r  ae  c  d  aa  g  w

[4209 rows x 8 columns]

In [96]:
object_datatype_columns=object_datatype.columns
object_datatype_columns

Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype='object')

### 3.Apply label encoder

In [98]:
from sklearn import preprocessing

In [99]:
label_encoder=preprocessing.LabelEncoder()

In [100]:
dataset_train['X0'].unique()

array(['k', 'az', 't', 'al', 'o', 'w', 'j', 'h', 's', 'n', 'ay', 'f', 'x',
       'y', 'aj', 'ak', 'am', 'z', 'q', 'at', 'ap', 'v', 'af', 'a', 'e',
       'ai', 'd', 'aq', 'c', 'aa', 'ba', 'as', 'i', 'r', 'b', 'ax', 'bc',
       'u', 'ad', 'au', 'm', 'l', 'aw', 'ao', 'ac', 'g', 'ab'],
      dtype=object)

In [101]:
dataset_train['X0'] = label_encoder.fit_transform (dataset_train['X0'])
dataset_train['X0'].unique()

array([32, 20, 40,  9, 36, 43, 31, 29, 39, 35, 19, 27, 44, 45,  7,  8, 10,
       46, 37, 15, 12, 42,  5,  0, 26,  6, 25, 13, 24,  1, 22, 14, 30, 38,
       21, 18, 23, 41,  4, 16, 34, 33, 17, 11,  3, 28,  2])

In [102]:
dataset_train['X1'] = label_encoder.fit_transform (dataset_train['X1'])
dataset_train['X2'] = label_encoder.fit_transform (dataset_train['X2'])
dataset_train['X3'] = label_encoder.fit_transform (dataset_train['X3'])
dataset_train['X4'] = label_encoder.fit_transform (dataset_train['X4'])
dataset_train['X5'] = label_encoder.fit_transform (dataset_train['X5'])
dataset_train['X6'] = label_encoder.fit_transform (dataset_train['X6'])
dataset_train['X8'] = label_encoder.fit_transform (dataset_train['X8'])

In [103]:
dataset_train

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,32,23,17,0,3,24,9,14,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,32,21,19,4,3,28,11,14,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,20,24,34,2,3,27,9,23,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,20,21,34,5,3,27,11,4,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,20,23,34,5,3,12,3,13,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,8,20,16,2,3,0,3,16,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,31,16,40,3,3,0,7,7,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,8,23,38,0,3,0,6,4,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,9,19,25,5,3,0,11,20,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,46,19,3,2,3,0,6,22,...,1,0,0,0,0,0,0,0,0,0

#### For test dataset

In [104]:
dataset_test.nunique()

ID      4209
X0        49
X1        27
X2        45
X3         7
        ...
X380       2
X382       2
X383       2
X384       2
X385       2
Length: 377, dtype: int64

In [105]:
object_datatype_test=dataset_test.select_dtypes(include=[object])
object_datatype_test

      X0  X1  X2 X3 X4  X5 X6 X8
0     az   v   n  f  d   t  a  w
1      t   b  ai  a  d   b  g  y
2     az   v  as  f  d   a  j  j
3     az   l   n  f  d   z  l  n
4      w   s  as  c  d   y  i  m
...   ..  ..  .. .. ..  .. .. ..
4204  aj   h  as  f  d  aa  j  e
4205   t  aa  ai  d  d  aa  j  y
4206   y   v  as  f  d  aa  d  w
4207  ak   v  as  a  d  aa  c  q
4208   t  aa  ai  c  d  aa  g  r

[4209 rows x 8 columns]

In [106]:
object_datatype_test_columns=object_datatype_test.columns
object_datatype_test_columns

Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype='object')

#### Applying label encoder

In [107]:
dataset_test['X0']=label_encoder.fit_transform(dataset_test['X0'])
dataset_test['X0'].unique()

array([21, 42, 45, 47, 46, 29, 12, 38, 20,  8, 31, 48,  6, 27, 44,  7, 23,
       37, 33, 41,  3, 19, 15, 13, 17, 36, 34,  0, 28,  5, 32,  4, 22,  9,
       18, 14, 40, 11, 43, 35, 26,  1, 16, 25, 30, 10,  2, 39, 24])

In [108]:
dataset_test['X1']=label_encoder.fit_transform(dataset_test['X1'])
dataset_test['X2']=label_encoder.fit_transform(dataset_test['X2'])
dataset_test['X3']=label_encoder.fit_transform(dataset_test['X3'])
dataset_test['X4']=label_encoder.fit_transform(dataset_test['X4'])
dataset_test['X5']=label_encoder.fit_transform(dataset_test['X5'])
dataset_test['X6']=label_encoder.fit_transform(dataset_test['X6'])
dataset_test['X8']=label_encoder.fit_transform(dataset_test['X8'])

In [109]:
dataset_test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,21,23,34,5,3,26,0,22,0,...,0,0,0,1,0,0,0,0,0,0
1,2,42,3,8,0,3,9,6,24,0,...,0,0,1,0,0,0,0,0,0,0
2,3,21,23,17,5,3,0,9,9,0,...,0,0,0,1,0,0,0,0,0,0
3,4,21,13,34,5,3,31,11,13,0,...,0,0,0,1,0,0,0,0,0,0
4,5,45,20,17,2,3,30,8,12,0,...,1,0,0,0,0,0,0,0,0,0

### 3.Perform dimensionality reduction.

In [ ]:
#For train dataset

In [110]:
from sklearn.decomposition import PCA

In [111]:
sklearn_PCA= PCA(n_components=0.95)

In [112]:
sklearn_PCA.fit(dataset_train)

PCA(n_components=0.95)

In [113]:
x_train_transformed=sklearn_PCA.transform(dataset_train)

In [114]:
x_train_transformed.shape

(4209, 1)

In [115]:
sklearn_pca_98=PCA(n_components=0.98)

In [116]:
sklearn_pca_98.fit(dataset_train)

PCA(n_components=0.98)

In [117]:
x_train_transformed_98=sklearn_pca_98.transform(dataset_train)
x_train_transformed_98.shape

(4209, 1)

In [118]:
dataset_train.y

0       130.81
1        88.53
2        76.26
3        80.62
4        78.02
         ...
4204    107.39
4205    108.77
4206    109.22
4207     87.48
4208    110.85
Name: y, Length: 4209, dtype: float64

In [ ]:
# For test dataset

In [119]:
sklearn_PCA_test_98= PCA(n_components=0.98)

In [120]:
sklearn_PCA_test_98.fit(dataset_test)

PCA(n_components=0.98)

In [121]:
x_test_transformed_98=sklearn_PCA_test_98.transform(dataset_test)
x_test_transformed_98.shape

(4209, 1)

In [122]:
x_test_transformed_98=sklearn_PCA_test_98.transform(dataset_test)
x_test_transformed_98.shape

(4209, 1)

In [126]:
#Train and test split on dataset

In [123]:
from sklearn.model_selection import train_test_split

In [124]:
X=dataset_train.drop('y' , axis=1)
Y=dataset_train.y
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.3,random_state=42)

In [125]:
print(xtrain)
print(xtrain.shape)

        ID  X0  X1  X2  X3  X4  X5  X6  X8  X10  ...  X375  X376  X377  X378  \
370    735  35  13  16   1   3   9   6  19    0  ...     0     0     0     0
3392  6770  15  10  16   2   3  23   9  16    0  ...     0     0     1     0
2208  4414  31   3  16   2   3  15   2  21    0  ...     0     0     1     0
3942  7907  35  20   8   6   3  26   6  14    0  ...     1     0     0     0
1105  2191  36  13  16   5   3   1   6   0    0  ...     0     0     0     0
...    ...  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...   ...   ...   ...   ...
3444  6879  31  10  16   2   3  22  11  17    0  ...     0     0     1     0
466    898  20  25  25   2   3   9   9   9    0  ...     0     0     0     0
3092  6214  45  24   3   2   3  21   8   2    0  ...     1     0     0     0
3772  7558  45  19   8   5   3  25   8   1    0  ...     0     0     0     0
860   1712  22   1   7   2   3   5   9  17    0  ...     1     0     0     0

      X379  X380  X382  X383  X384  X385
370      0     0     0     0     0     0
3392     0     0     0     0     0     0
2208     0     0     0     0     0     0
3942     0     0     0     0     0     0
1105     0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...
3444     0     0     0     0     0     0
466      0     0     1     0     0     0
3092     0     0     0     0     0     0
3772     0     0     0     0     0     0
860      0     0     0     0     0     0

[2946 rows x 365 columns]
(2946, 365)

In [127]:
print(ytrain)
print(ytrain.shape)

370      95.13
3392    117.36
2208    109.01
3942     93.77
1105    103.41
         ...
3444    109.42
466      78.25
3092     92.18
3772     91.92
860      87.71
Name: y, Length: 2946, dtype: float64
(2946,)

In [128]:
print(xtest)
print(xtest.shape)

        ID  X0  X1  X2  X3  X4  X5  X6  X8  X10  ...  X375  X376  X377  X378  \
1073  2140   9  16   7   5   3   6   9  11    0  ...     0     0     0     0
144    310  27  13   3   5   3  13   8  22    0  ...     0     0     0     0
2380  4779  31   1  21   2   3  18  11  14    1  ...     1     0     0     0
184    385  20  25  22   2   3  13   9  11    0  ...     0     0     0     0
2587  5180   8  23   8   3   3  17   8  17    0  ...     0     0     0     0
...    ...  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...   ...   ...   ...   ...
2493  4997  27  20  16   2   3  18  10   5    0  ...     0     0     1     0
3388  6760  40  19  24   5   3  23   3  19    0  ...     0     0     0     0
3997  8016  22   3   7   0   3  26   6  18    0  ...     0     0     1     0
383    752  40   1  16   6   3   9   8   0    0  ...     1     0     0     0
3364  6709  27   4  33   2   3  23   6  24    0  ...     0     0     1     0

      X379  X380  X382  X383  X384  X385
1073     0     0     0     0     0     0
144      0     0     0     0     0     0
2380     0     0     0     0     0     0
184      0     0     1     0     0     0
2587     0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...
2493     0     0     0     0     0     0
3388     0     0     0     0     0     0
3997     0     0     0     0     0     0
383      0     0     0     0     0     0
3364     0     0     0     0     0     0

[1263 rows x 365 columns]
(1263, 365)

In [129]:
pca_xtrain=PCA(n_components=0.95)
pca_xtrain.fit(xtrain)

PCA(n_components=0.95)

In [130]:
pca_xtrain_transformed=pca_xtrain.transform(xtrain)
pca_xtrain_transformed.shape

(2946, 1)

In [131]:
pca_xtest=PCA(n_components=0.95)
pca_xtest.fit(xtest)

PCA(n_components=0.95)

In [132]:
pca_xtest_transformed=pca_xtest.transform(xtest)
pca_xtest_transformed.shape

(1263, 1)

In [133]:
print(pca_xtest.explained_variance_)
print(pca_xtest.explained_variance_ratio_)

[6050078.74865736]
[0.99991595]

In [134]:
print(pca_xtrain.explained_variance_)
print(pca_xtrain.explained_variance_ratio_)

[5892039.89345475]
[0.99991516]

### 4.Predict your test_df values using XGBoost

In [135]:
import warnings
warnings.filterwarnings('ignore')

In [136]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [137]:
xgb_r = xgb.XGBRegressor(objective ='reg:linear', n_estimators = 10)

In [138]:
 xgb_r.fit(xtrain, ytrain)

[12:41:37] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-07593ffd91cd9da33-1\xgboost\xgboost-ci-windows\src\objective\regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=10, n_jobs=None, num_parallel_tree=None,
             objective='reg:linear', predictor=None, ...)

In [139]:
y_pred = xgb_r.predict(xtrain)

In [140]:
print("The RMSE value of the model on training dataset is : ")
print(np.sqrt(mean_squared_error(ytrain , y_pred)))

The RMSE value of the model on training dataset is :
7.681750722138074

In [141]:
print("The r2 score of the model on training dataset is : ")
print(r2_score(ytrain , y_pred))

The r2 score of the model on training dataset is :
0.6139515570282641

In [142]:
ytest_pred_xgb = xgb_r.predict(xtest)
xtest_output = pd.DataFrame(ytest_pred_xgb, columns=['xtest_output'])
xtest_output

      xtest_output
0        89.837639
1        90.888412
2       106.742622
3        75.835236
4       109.416939
...            ...
1258     91.319542
1259     90.958755
1260     88.026550
1261     91.298660
1262     90.579567

[1263 rows x 1 columns]